.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  margin: 0!important;
  background-color: rgba(255, 255, 255, 0.6);
}
.preloader .layout {
  height: 100vh;
  width: 100vw;
  position: fixed;
  pointer-events: none;  
}
.preloader h3,
.preloader .v-icon {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
}

.preloader .layout h3 {
  font-weight: bold;
  color: #0292fc;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.preloader .logo {
  opacity: 0.7;
}
.preloader .loader {
  width: 180px;
  height: auto;
}

/* dark version */
.preloader.dark {
  background-color: rgba(0, 0, 0, 0.8);
}
.preloader.dark h3,
.preloader.dark .v-icon {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
