.z-scroll-table-row{
  display: grid;
  border-bottom:1px $rowgridborder solid;
}

.z-scroll-table-row:hover{
  background-color: $activebg;
}

.z-scroll-table-row .v-input--selection-controls{
  margin-top: 0!important;
  padding-top: 0!important;
}