.z-scroll-table-header {
  display: grid;
}
.z-scroll-table-header.grid-mode {
  display: inline-flex;
}
.z-scroll-table-header .cell{
  position:relative;
  border:1px $border solid;
  border-right-color:transparent;
  padding:8px 24px 8px 8px;
  cursor:pointer;
  color:$fg;
  font-weight:$headerFontWeight

}
.z-scroll-table-header.grid-mode .cell{
  padding:8px 28px 8px 12px;
}
.z-scroll-table-header .cell:not(.orderable){
  cursor:default!important
}

.z-scroll-table-header .cell:first-of-type{
  border-radius:5px 0 0 5px
}
.z-scroll-table-header .cell:last-of-type{
  border-radius:0 5px 5px 0;
  border-right-color:$border;
}

.z-scroll-table-header .cell.orderable:not(.active):hover{
  background-color:$hoverbg;
  color:$fg;
}

.z-scroll-table-header .cell.orderable.active{
  background-color:$activebg!important;
  color:$activefg;
  font-weight:$headerFontWeightActive
}

.z-scroll-table-header .cell.orderable.active::after{
  color:$activefg;
}

.z-scroll-table-header > .cell.orderable::after {
  font-family: "Zorro";
  right: 0;
  width: 24px;
  text-align: center;
  content: "\0044";
  position: absolute;
  display: block;
  top: 50%;
  color:$border;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.z-scroll-table-header  .cell.orderable.sort-asc::after {
  content: "\0045";
}
.z-scroll-table-header > .cell.orderable.sort-desc::after {
  content: "\0046";
} 