.no-results{
  height:320px;
  // background:transparent url('/images/no-results.jpg') no-repeat center center;
  background-size:auto 50%;
}

//custom Colors
$border: #e9ecf2;
$activebg:#E1F5F6;
$hoverbg:#f8f8f8;
$hoverfg:#555;
$activefg:#00ACB4;
$fg:#777;
$rowgridborder:#e9ecf2;
$rowgridopacity:.7;
$rowgridtransition:.1s;
$headerFontWeight:normal;
$headerFontWeightActive:bold;

// @import "components/z-scroll-table";
@import "z-scroll-table-header";
@import "z-scroll-table-row";
@import "z-scroll-table-grid-block";
