// @import "../js/plugins/z-icons/css/Zorro.css";

// @import 'v-tab';

// [type='text']:focus, [type='email']:focus, [type='url']:focus,
//  [type='password']:focus, [type='number']:focus, [type='date']:focus,
//   [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus,
//    [type='tel']:focus, [type='time']:focus, [type='week']:focus,
//     [multiple]:focus, textarea:focus, select:focus {
//       box-shadow:none
//     }

//     [type='text'], [type='email'], [type='url'], [type='password'],
//      [type='number'], [type='date'], [type='datetime-local'],
//       [type='month'], [type='search'], [type='tel'], [type='time'],
//        [type='week'], [multiple], textarea, select {
//       background-color: transparent;
//       border-width: 0;
//       padding-left:0;
//       padding-right:0;
//   }