<template>
  <v-container>
      <v-row>
          <v-col>
            <v-alert
              outlined
              prominent
              text
              color="indigo"
              type="info"
            >
              <h3>apenas um exemplo de route para um dashboard</h3>
            </v-alert>    
          </v-col>
      </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Dashboard',
    data: () => ({

    }),
  }
</script>
