<!DOCTYPE html>
<html lang="en" {{ htmlAttrs.text(true) }}>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="<%= BASE_URL %>apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"   
            href="<%= BASE_URL %>favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="<%= BASE_URL %>favicon-16x16.png"
        />
        <link rel="manifest" href="<%= BASE_URL %>site.webmanifest" />
        <link
            rel="mask-icon"
            href="<%= BASE_URL %>safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
        <title></title>
        <!-- <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
        /> -->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
