<template>
  <!-- implementar uma tela legal, com voltar etc -->
  <div>ERRO 404</div>
</template>
<script>
  export default {
    name: 'Error404',
    metaInfo: {
      title: 'Página não encontrada'
    },
  }
</script>