<template>
  <!-- implementar uma tela de logout se necessário -->
  <div></div>
</template>
<script>
  import overlayController from '~/mixins/overlayController'
  import { mapActions } from 'vuex'
  export default {
    name: 'Logout',
    mixins:[overlayController],
    metaInfo: {
      title: 'logout from app'
    },
    mounted(){
      this.logout();
      this.$router.push({name:'signin'})
    },
    methods: {
      ...mapActions('user',[
        'logout',
      ]),
    }
  }
</script>