<template>
  <div class="z-page-wrap">
    <v-card class="my-0 mx-auto session-form-hold">
      <v-card-text class="text-center">
        <div class="my-3">
          <v-img
            :height="70"
            alt="A+ Logo"
            contain
            src="@/assets/images/logo-gropoa-black.png"
          />
        </div>
        <h4 class="text--disabled font-weight-medium mb-10">
          fazer login no sistema
        </h4>
        <v-form>
          <v-text-field
            v-model="email"
            label="email"
            :rules="emailRules"
            required
          />

          <v-text-field
            color="primary"
            v-model="password"
            :append-icon="show ? 'visibility' : 'visibility_off'"
            :type="show ? 'text' : 'password'"
            name="input-10-2"
            label="password"
            :counter="10"
            :rules="nameRules"
            @click:append="show = !show"
          />
          <v-btn
            class="mt-4"
            color="primary"
            :disabled="disableSubmitButton"
            @click="userLogin"
          >
            <v-icon left>
              login
            </v-icon>
            Entrar
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
  import overlayController from '~/mixins/overlayController'
  import { mapActions } from 'vuex'
  export default {
    name: 'Login',
    mixins:[overlayController],
    metaInfo: {
      title: 'Login'
    },
    data () {
      return {
        show: false,
        email: '',
        password: '',
        loading: false,
        emailRules: [
          (v) => !!v || 'O email é obrigatório',
          (v) => /.+@.+\..+/.test(v) || 'email inválido!',
        ],
        nameRules: [
          (v) => !!v || 'A senha é obrigatório',
        ],
      }
    },
    computed:{
      disableSubmitButton(){
        return !(this.password?.length > 0  && this.email?.length > 0)
      }
    },
    watch: {
    },
    mounted(){
      // this.overlayHide()
    },
    methods: {
      ...mapActions({
        login:'user/login',
      }),

      userLogin() {
        
        // // email: 'mdisconzi@gmail.com',
        // // password: "N64223008a" //N64223008

        this.overlayShow(); 
        this.login({
          username:this.email,
          password:this.password
        })
          .then(() => {
            //redirect
            this.$router.push({name:'root'})
          })
          .catch(err=> {
            this.$toast.error(err?.message);
            this.overlayHide();
          })
      }
    }
  }
</script>
<style lang="scss" scoped>
.session-form-hold {
  width: 360px;
}
</style>
