<template>
  <div>
    <h1 class="text-h6 d-flex">
      <v-icon class="mr-2 my-auto">
        badge
      </v-icon>
      <span class="my-auto pt-1">{{ 'Alunos' }}</span>
    </h1>

    <v-divider class="my-2" />

    <v-card flat>
      <student-table
        class="pa-0"
        ref="mainTable"
        v-on="allTableListeners"
      />
    </v-card>

    <z-dialog
      v-bind="dialogs.main"
      v-on="dialogListeners"
    >
      <student-form 
        ref="form" 
        class="my-3"
        v-on="formListeners"
      />
      <z-form-actions 
        slot="footer"
        :isEditing="isEditing"
        @form-actions-store="formActionsStore"
        @form-actions-update="formActionsUpdate"
      >
        <v-btn
          slot="left"
          color="warning"
          @click="reset"
        >
          <v-icon class="mr-2">
            close
          </v-icon> Cancelar
        </v-btn>
      </z-form-actions>
    </z-dialog>
  </div>
</template>

<script>
  import BasePage from '@/mixins/BasePage'
  import ZDialogComposer from '~/mixins/composers/ZDialogComposer'
  import ZFormComposer from '~/mixins/composers/ZFormComposer'
  import ZTableComposer from '~/mixins/composers/ZTableComposer'
  import { mapGetters,mapActions } from 'vuex'
  import ZDialog from '@/classes/ZDialog'
  import StudentForm from './StudentForm.vue'

  export default {
  components: { StudentForm },
    name: 'StudentPage',
    mixins:[
      BasePage,
      ZDialogComposer,
      ZFormComposer,
      ZTableComposer
    ],
    data () {
      return {
        module: 'students',
      }
    },
    computed: {
      ...mapGetters('students',[
        'getList',
        'isEditing'
      ]),
      mainForm(){
        return this.$refs.form
      },
    },
    created(){
      this.dialogs = {
        main: new ZDialog({
          title: 'Cadastrar novo aluno',
          icon: 'badge',
          iconColor:'secondary',
          width: '600px',
          methods:{
            closeCallback:()=>{
              //zera o editing, reseta o
              this.reset()
              this.finishEditing()
            },
            openCallback:()=>{
              setTimeout(() => {
                // this.mainForm.form.fields.name.el.input.focus()
              }, 200);
            }
          }
        })
      }
    },
    watch:{
      isEditing(n){
        //verificar uma forma do bind com watch deep fazer essas alterações
        // console.log("no editing",this.dialogs.main.component.$attrs.bind.title)
          this.dialogs.main.component.$attrs.
            bind.title = !n ? "Cadastrar novo aluno" : "Atualizar cadastro"
      }
    },
    mounted () {
      //no mounted por conta do eager
      this.reloadList()

    },
    methods: {
      ...mapActions('students',[
        'loadList',
        'edit',
        'finishEditing',
        'destroy'
      ]),
      reloadList(){
        this.loadList()
        .finally(()=>{
          this.overlayHide()
        })
      },
      //form methods
      formActionsStore(){
        this.mainForm.validate()
      },
      formValidateSuccess(validData){
        this.overlayShow()
        if(!this.isEditing)
          this.mainForm.store(validData)
        else
          this.mainForm.update(validData)
      },
      formStoreSuccess(data){
          this.$toast.success('aluno salvo com sucesso!')
          this.reset()
          this.reloadList()
      },
      formStoreFail(data){
        this.overlayHide()
      },  
      //updates (upd/store podem ser unificadas, o validate não muda)
      formActionsUpdate(){
        this.mainForm.validate()
      },
      formUpdateSuccess(data){
          this.$toast.success('aluno atualizado com sucesso!')
          this.reset()
          this.reloadList()
      },
      formUpdateFail(data){
        this.overlayHide()
      },  
      //form action methods
      dialogCloseClick(){
        this.dialogs.main.close()
      },
      reset(){
        this.dialogs.main.close()
        this.mainForm.form.reset();
      },
      tableOnNew(){
        this.reset()
        this.dialogs.main.open()
      },
      async onEdit (data) {
      },

      //eventos da table
      tableOnRefresh(c){
        this.overlayShow()
        this.reloadList()
      },

      tableOnEditAction({id}){
        this.overlayShow()
        this.edit({id}).then(async (student)=>{

            this.dialogs.main.open()
            await this.mainForm.form.fill(student)
            .then(ret=>{
            })
            .catch(err=>{
              console.log(err)
            })

        }).
        catch(err=>{
          console.log("erro na ediçao do aluno",err)
        })
        .finally(()=>{
          this.overlayHide()
        })
        
      },

      tableOnDestroyAction({id}){
        this.overlayShow()
        this.destroy({destroyId:id}).then(async (res)=>{
           this.reloadList()
        }).
        catch(err=>{
          console.log("ocorreram erros na exclusão do aluno",err)
        })
        .finally(()=>{
          this.overlayHide()
        })
      }
    },
  }
</script>
