<template>
  <v-container>
    <z-scroll-table
      ref="ztable"
      storage-id="zStudentTable"
      :headers="headers"
      :rows.sync="rows"
      key-field="id"
      :filters="filters"
      v-bind="$attrs"
      v-on="$listeners"
      id="zStudentTable"
    >
      <template slot="filters">
        <v-col class="col-xs-12">
          <v-row class="my-auto justify-end">
              <v-col class="col-xs-12 col-6">
                <v-btn
                class="float-right"
                  color="secondary"
                  @click="tableOnNew"
                >
                  <v-icon class="mr-2">
                    person_add
                  </v-icon> Cadastrar Aluno
                </v-btn>
            </v-col>
          </v-row> 
        </v-col>
      </template>
 
      <template
        #row="{item,data}"
      >
        <z-scroll-table-row
          :item="item"
          :data="data"
          :buttons="buttons"
          v-on="itemListeners"
        >
          <z-col>
            <span class="text-center">{{ item.id }}</span>
          </z-col>
          <z-col class="text-truncate col-12">
            <span class="d-block">{{ item.name }}</span>
          </z-col>
          <z-col>
            <span>{{ item.cpf }}</span>
          </z-col>
          <z-col>
            <span>
              {{ item.phone && item.phone.value }}
            </span>
          </z-col>
          <z-col>
            <z-switch-btn
              v-if="item.phone && item.phone.whatsapp"
              v-bind="Object.assign({},btns.whatsapp,{
                value:false
              })"
            />
          </z-col>
          <z-col>
            <z-humanized-date :date="item.updated_at" />
          </z-col>
        </z-scroll-table-row>
      </template>
    </z-scroll-table>
  </v-container>
</template>

<script>
import BaseTable from '~/mixins/BaseTable'
import { mapState, mapGetters } from 'vuex' // mapGetters
//apenas para gtestes
import dayjs from 'dayjs'
import LocalizedFormat from 'dayjs/plugin/localizedFormat'
import relativeTime from 'dayjs/plugin/relativeTime'
import ptBr from 'dayjs/locale/pt-br'

export default {
  name: 'StudentTable',
  mixins: [BaseTable],
  data () {
    return {
      filters: {
        keyword: {
          value: '',
          index: ['name','ra','cpf'],
          hint: 'pressione enter para filtrar'
        },
      },
      btns: {
        status: {
          true: {
            icon: 'task_alt',
            color: 'green',
            label: 'ativo'
          },
          false: {
            icon: 'error_outline',
            color: 'orange',
            label: 'pendente'
          }
        },
        whatsapp: {
          icon: 'whatsapp',
          color: 'green',
          label: 'whatsapp'
        }
      }
    }
  },
  computed: {
    ...mapState({
      list: (state) => {
        return state.students.list
      }
    }),
    ...mapGetters('students',[
      'getList'
    ]),
    headers () {
      return [
        {
          text: '#',
          tooltip: 'registro acadêmico',
          value: 'ra',
          width: '5%',
          type: Number, 
          align: 'center',
          orderable: true
        },
        {
          text: 'Nome do Aluno',
          value: 'name',
          width: 'auto',
          orderable: true
        },
        {
          tooltip: 'CPF',
          text: 'cpf',
          value: 'cpf',
          width: '15%',
          orderable: true
        },
        {
          text: 'Telefone',
          value: 'phone.value',
          width: '15%'
        },        
        {
          text: 'W',
          tooltip:'whatsapp',
          value: 'phone',
          width: '5%',
          align:'center',
          headerStyle:'mx-auto'
        },
        {
          tooltip: 'Data da Última Atualização',
          text: 'Última Atualização',
          value: 'updated_at',
          width: '20%',
          align: 'center',
          type: Date,
          orderable: true
        },
        { text: '', value: 'actions', width: '5%' }
      ]
    },
    buttons () {
      return {
        edit: true
      }
    }
  },
  created(){
    dayjs.extend(LocalizedFormat)
    dayjs.extend(relativeTime)
    dayjs.locale(ptBr)
  },
  methods:{
    // tableOnEditAction(x){
    //   console.log(" mas que coisa",x)
    // }
  }
}
</script>
<style>
#zStudentTable .v-form.filters{
  padding:10px;
  margin-bottom:14px
}
</style>
