<template>
<!-- testando com apenas um form fazendo o papel de container,
 poderiam ser vários outros, criar formContainer -->
 <v-form ref="v-form" v-model="valid">
  <v-container class="py-3">
    <div class="mx-2">
      <v-row>
          <v-col class="cols-12 col-sm-8">
            <z-field
                v-bind="fields.name"
            />
          </v-col>
          <v-col class="cols-12 col-sm-4">
            <z-field
                v-bind="fields.cpf"
            />
          </v-col>
      </v-row>
      <v-row>
          <v-col class="cols-12 col-sm-8">
            <z-field
                v-bind="fields.email"
            />
          </v-col>
          <v-col class="cols-12 col-sm-4">
            <z-field
                v-bind="fields.phone"
            />
          </v-col>
      </v-row>
    </div>
  </v-container>
 </v-form>
</template>

<script>
import ZVirtualForm from '~/classes/ZVirtualForm'
import ZField from '~/classes/ZField'
import ZPhone from '~/classes/ZPhone'
import { isValidCPF,manageErrorBag } from '~/helpers/z-helpers'
import { email,empty } from '~/helpers/z-validators'
import { mapGetters,mapActions } from 'vuex'
import ZFormComposer from '~/mixins/composers/ZFormComposer'

export default {
  name:'StudentForm',
  data(){
    return {
      valid:false,
    }
  },
   computed:{
     ...mapGetters('students',[
       'editing', 
       'isEditing'
    ]),
    fields(){
      return this.form.fields
    }
  },
  created () {
    this.form = new ZVirtualForm({
      primaryId:'ra',
        fields: {
          name: new ZField({
            label: 'Nome do Aluno',
            required: true,
            // defaultValue(){
            //   return 'Zebedeu da Silva'
            // }
          }),
          cpf: new ZField({
            label: 'CPF',
            zMask:'###.###.###-##',
            editable:false,
            required: true,
            // defaultValue(){
            //   return '959.107.351-87'
            // },
            rules:[
              (v)=>{
                return empty(v) || 'o cpf é obrigatório'
              },
              (v)=>{
                return isValidCPF(v) || 'cpf inválido'
              }
            ],
          }),
          email: new ZField({
            label: 'email',
            type: 'email',
            required: true,
            // defaultValue(){
            //   return 'zebede@gmail.com'
            // },
            rules:[
              (v)=>{
                return email(v,'email inválido!')
              }
            ]
          }),
          phone: new ZPhone({
            whatsapp: true,
            // defaultValue(){
            //   return '(63) 99227-1818'
            // },
            onSwitch: (status) => {
            }
          }),
        }
      })
  },
  mounted(){
    this.$nextTick(()=>{
      this.form.vForm = this.$refs['v-form']
    })
  },
  watch:{
    isEditing(n){
      //implementar de forma mais genérica, sem especificar o virtualForm
      this.form.isEditing = n
    }
  },
  methods: {
    ...ZFormComposer.methods,
    ...mapActions({
      'studentStore':'students/store',
      'studentUpdate':'students/update',
      'studentDestroy':'students/destroy'
    }),
    reset(){
      this.form.reset();
    },
    async validate () {
      return this.form.validate()
        .then(validData => {
        this.$emit('form-validate-success',validData)
      })
        .catch((err) => {
          this.$emit('form-validate-fail',err)
      })
    },
    async store (formData) {
      return this.studentStore({data:formData})
      .then((data)=>{
        this.formStoreSuccess(data)
      })
      .catch(err=>{
        manageErrorBag(err, this.form.fields)
          this.formStoreFail(err)
      })
    },

    async update (formData) {
      formData.updateId = this.editing.ra

      return this.studentUpdate({data:formData})
        .then((data)=>{
          this.formUpdateSuccess(data)
        })
        .catch(err=>{
          manageErrorBag(err, this.form.fields)
          this.formUpdateFail(err)
        })
      },

    async destroy(destroyId) {
      return this.studentDestroy(destroyId)
        .then((data)=>{
          this.formDestroySuccess(data)
        })
        .catch(err=>{
          this.formDestroyFail(err)
        })
    },
  }
}
</script>
