<template>
  <p>
    Só um exemplo de como seria a estrutura de módulos
  </p>
</template>

<script>
  export default {
    metaInfo: {
      title: 'Teste'
    },
    name: 'TestModule',
    data: () => ({

    }),
  }
</script>
