@import '/css/Zorro.css';

@font-face {
    font-family: 'zorro';
    src: url('/fonts/zorro.eot');
    src: url('/fonts/zorro.eot?#iefix') format('embedded-opentype'),
         url('/fonts/zorro.woff') format('woff'),
         url('/fonts/zorro.ttf') format('truetype'),
         url('/fonts/zorro.svg#zorro') format('svg');
}
