<template>
  <v-app>
    <v-fade-transition>
      <router-view />
    </v-fade-transition>
    <z-overlay />
  </v-app>
</template>

<script>
  import overlayController from '~/mixins/overlayController'
  export default {
    name: 'App',
    mixins:[overlayController],
    metaInfo () {
      return {
        title: 'Teste',
        titleTemplate:
          '%s | Grupo A Educação.',
      }
    },
    created () {
      this.getRouterParams()
    },
    mounted(){
      // this.overlayShow();
    },
    methods: {
      getRouterParams () {
      },
    },
  }
</script>
