<template>
  <v-col
    class="z-col d-inline-flex"
    v-bind.sync="$attrs"
  >
    <slot name="default" />
  </v-col>
</template>
<script>
export default {
  name: 'MbCol',
  inheritAttrs: false
}
</script>
<style type='scss' scope>
.z-col{
  /* configs default aqui, para que as props possam subscrever */
  padding:8px;
  margin:auto;
  flex-flow: column wrap;
}
</style>
