<template>
  <v-dialog
      v-model="model"
      v-bind.sync="$attrs.bind"
  >
    <v-card>
      <slot name="header">
        <div class="py-1">
          <v-list dense class="py-0">
              <v-list-item class="my-auto">
                  <v-list-item-icon class="mr-2 my-auto">
                    <v-icon
                      v-if="attrs.showIcon"
                      :color="attrs.iconColor"
                    >
                      {{ attrs.icon }}
                  </v-icon>
                </v-list-item-icon>

                  <v-list-item-content>
                      <v-toolbar-title>{{ attrs.title }}</v-toolbar-title>
                  </v-list-item-content>

                  <v-list-item-icon class="ma-auto">
                    <v-btn
                      v-if="attrs.closable !== false"
                      x-small
                      icon
                      fab
                      color="error"
                      @click="closeClick"
                    >
                      <v-icon
                        :color="attrs.closeIconColor"
                      >
                        {{ attrs.closeIcon }}
                      </v-icon>
                    </v-btn>
                  </v-list-item-icon>
              </v-list-item>
          </v-list>
        </div>
        <v-divider></v-divider>
      </slot>

      <v-card-text class="pa-0 ma-0">
        <slot name="default">
        </slot>
      </v-card-text>

        <v-divider></v-divider>

        <v-card-actions v-if="'footer' in $slots" class="d-block">
            <slot name="footer">
            </slot>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import BaseComponent from '~/mixins/BaseComponent'

export default {
  name: 'ZDialog',
  mixins: [BaseComponent],
  data(){
    return {
      model:false
    }
  },
  beforeCreate(){
    //verificar se não irá gerar problemas com restrict
    this.$attrs.load(this)
    // this.$attrs.bind.load(this)
  },
  computed: {
    attrs(){
      return this.$attrs.bind
    },
    _actionListeners () {
      return {
        'dialog-close-click': this.dialogCloseClick,
      }
    }
  },
  watch:{
    model(n){
      if(n)
        this.$attrs?.methods.openCallback(this)
      else
        this.$attrs?.methods.closeCallback(this)
    }
  },
  methods: {
    open(){
      this.model = true
    },
    close(){
      this.model = false
    },
    closeClick () {
      //até criar uma padronização, emite o evento atual e também os que
      //pretendo padronizar com os makers e composers
      this.$emit('dialog-close-click',this)
    },
    clickOutside () {
      this.$emit('dialog--click-outside', this)
    },
    dialogCreateClick(){
      this.$emit('dialog-create-click')
    }
  }
}
</script>
