<template>
  <div class="justify-content-between d-flex my-2">
    <slot
      name="left"
    >
      <v-btn
        color="primary"
        @click="formActionsNew"
      >
        <v-icon class="mr-2">
          new_releases
        </v-icon> Novo Registro
      </v-btn>
    </slot>
    <v-spacer />
    <slot
      name="right"
    >
      <v-btn
        v-if="!isEditing"
        color="secondary"
        @click="formActionsStore"
      >
        <v-icon class="mr-2">
          save
        </v-icon> Salvar
      </v-btn>
      <v-btn
        v-else
        color="success"
        @click="formActionsUpdate"
      >
        <v-icon class="mr-2">
          edit
        </v-icon> Atualizar
      </v-btn>
    </slot>
  </div>
</template>

<script>
export default {
  name:'ZFormActions',
  props: {
    isEditing: { type: Boolean, default: false }
  },
  methods: {
    /** form-actions listeners */
    //posteriormente converter como foi feito com a dialog
    formActionsCancel (e) {
      this.$emit('form-actions-cancel', e)
    },
    formActionsUpdate (e) {
      this.$emit('form-actions-update', e)
    },
    formActionsStore (e) {
      this.$emit('form-actions-store', e)
    },
    formActionsNew (e) {
      this.$emit('form-actions-new', e)
    }
  }
}
</script>
