<template>
  <v-tooltip
    top
    v-bind.sync="$attrs"
    v-on="$listeners"
  >
    <template #activator="{ on }">
      <slot name="default">
        <span
          class="mx-auto text-center"
          v-on="on"
        >{{ _humanizedDate }}</span>
      </slot>
    </template>
    <span>{{ _formattedDate }}</span>
  </v-tooltip>
</template>
<script>
import dayjs from 'dayjs'
export default {
  name: 'ZHumanizedDate',
  inheritAttrs: false,
  props: {
    date: { type: String, default: null },
    formattedDate: { type: String, default: null },
    humanizedDate: { type: String, default: null },
    formattedDatePattern: { type: String, default: 'LLL' },
    humanizedDatePattern: { type: String, default: null },
    now: { type: Object, default: () => dayjs() }
  },
  data () {
    return {
      dt: null
    }
  },
  computed: {
    _formattedDate () {
      // return null
      return this.formattedDate || this.dt.format(this.formattedDatePattern)
    },
    _humanizedDate () {
      // return null
      return this.humanizedDate || this.dt.isBefore(this.now) ? this.now.to(this.dt) : this.now.from(this.dt)
    }
  },
  created () {
    this.dt = dayjs(this.date || new Date())
  }
}
</script>
<style scope>
</style>
