<template>
  <v-fade-transition>
    <v-layout
      v-show="visible"
      align-top
      justify-center
      row
      fill-height
      class="preloader"
    >
      <v-layout
        align-center
        justify-center
        column
      >
        <img
          class="logo mb-3"
          src="@/assets/images/loading-overlay.svg"
        >
        <h3
          v-if="message !== ''"
          class="mt-2 text-xs-center"
        >
          {{ message }}
        </h3>
      </v-layout>
    </v-layout>
  </v-fade-transition>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ZOverlay',

  computed: {
    ...mapState({
      visible: (state) => state.overlay.visible,
      message: (state) => state.overlay.message,
      // style: (state) => state.overlay.style,
    }),
  },
}
</script>