<template>
  <v-container
    v-bind.sync="$attrs"
  >
    <v-card flat>
      <v-form
        v-show="showFilters"
        ref="filtersContainer"
        class="filters"
        onSubmit="return false"
      >
        <!-- verificar se há filtros sendo aplicados, e mostrar uma tela de
        load e outra de sem resultados -->
        <slot name="container-filters">
          <v-row>
            <slot
              v-if="showKeywordFilter"
              name="keyword"
            >
              <v-col :class="mergedFilters.keyword._class">
                <div class="fill-height">
                  <z-field
                    v-bind="mergedFilters.keyword"
                    @keydown="checkKey"
                    @click:prepend-inner="filter"
                  />
                  </div>
              </v-col>
            </slot>
            <slot
              name="filters"
            />
          </v-row>
        </slot>
        <v-overlay
          :absolute="true"
          :opacity="1"
          color="#ffffff"
          :value="!showFilters || !rows.length"
        />
      </v-form>
      <v-divider class="my-3 mx-2" />
    </v-card>
 
    <div
      class="d-flex justify-content-between my-0"
    >
      <slot
        v-if="(!hasFilters || filteredRows.length) && rows.length"
        name="table-infos"
        :item="{total:rows.length,filtered:filteredRows.length}"
      >
        <div
          class="my-auto mr-2"
          style="display:inline"
        >
          <v-icon
            color="primary"
          >
            filter_list
          </v-icon><strong class="black1--text text--lighten-1" />
          <div class="d-inline-flex mt-3">
            <span class="black1--text text--lighten-1 d-flex"> filtrados <b
              style="min-width:40px"
              class="text-center px-1"
            >{{ filtered }}</b> de <b
              class="text-center px-1"
              style="min-width:40px"
            >{{ total }}</b> registros
            </span>
          </div>
        </div>

        <div v-if="hasDisplayMode">
          <v-btn-toggle
            v-model="isGridMode"
            color="primary"
            mandatory
          >
            <v-btn
              :value="false"
              small
              text
            >
              <v-icon
                small
                class="mr-1"
              >
                reorder
              </v-icon>
              list
            </v-btn>
            <v-btn
              :value="true"
              small
              text
            >
              <v-icon
                small
                class="mr-1"
              >
                grid_on
              </v-icon>
              grid
            </v-btn>
          </v-btn-toggle>
        </div>
        <v-spacer />
        <div
          v-if="refresh"
          class="d-flex"
        >
          <v-tooltip
            v-model="refreshTooltip"
            top
          >
            <template #activator="{ on }">
              <v-btn
                icon
                color="secondary"
                class="text my-auto"
                v-on="on"
                @click.stop="tableOnRefresh"
              >
                <v-icon>sync</v-icon>
              </v-btn>
            </template>
            <span>{{ 'atualizar' }}</span>
          </v-tooltip>
        </div>
      </slot>
    </div>
    <z-scroll-table-header
      v-if="tableItems.length"
      ref="scrollHeader"
      class="my-2"
      :headers="mergedHeaders"
      :grid-mode="isGridMode"
      @on-sort="onSort"
    />
    <DynamicScroller
      v-if="tableItems.length"
      :items="tableItems"
      :min-item-size="(isGridMode ? minBlockSize : minRowSize)+paddingAdjust"
      class="scroller"
      :key-field="isGridMode ? 'chunkId' : keyField"
      :page-mode="true"
      :buffer="buffer"
      style="height:100%"
    >
      <template #default="{ item, index, active }">
        <DynamicScrollerItem
          v-if="isGridMode"
          :item="item"
          :active="active"
          :data-index="index"
          class="d-flex align-content-start"
        >
          <div
            v-for="(chunk,chunk_index) in item.chunks"
            :key="`ci-${chunk_index}`"
            :class="`d-flex col pa-0 col-xs-12 col-sm-${(12/chunks)}`"
          >
            <slot
              name="block"
              :item="chunk"
              :data="{maxHeight:`${minBlockSize}px`,
                      isSelectable:showSelect,
                      hasActions:showActions}"
            />
          </div>
        </DynamicScrollerItem>
        <DynamicScrollerItem
          v-else
          :item="item"
          :active="active"
          :data-index="index"
          :style="autoColumnsSizes
            ? [{ 'grid-template-columns'
              : headerSizes}]:''"
          :class="[{'z-scroll-table-row':autoColumnsSizes}]"
        >
          <slot
            name="row"
            :item="item"
            :data="{maxHeight:`${minRowSize}px`,
                    headerSizes:headerSizes,
                    isSelectable:showSelect,
                    hasActions:showActions}"
          >
            <div
              class="pa-0"
              :style="[{'grid-column':`1 / span ${mergedHeaders.length}`}]"
            />
          </slot>
        </DynamicScrollerItem>
      </template>
    </DynamicScroller>
    <div
      v-else
      class="d-flex justify-center align-center"
    >
      <!-- height:340px -->
      <slot
        v-if="hasFilters"
        name="empty-data"
      >
        <div

          class="d-flex justify-center flex-column flat"
        >
          <img
            src="@img/zorro/empty-list-horizontal.jpg"
            class="mx-auto"
            width="100%"
          >
          <h3 class="mx-auto mt-3 black1--text text--lighten-3">
            {{ 'nenhum resultado!' }}
          </h3>
          <v-btn
            class="mx-auto mt-3"
            color="info"
            @click="resetFilters"
          >
            <v-icon class="mr-1">
              autorenew
            </v-icon>
            Limpar Filtros
          </v-btn>
        </div>
      </slot>
      <slot
        v-else
        name="empty-data"
      >
        <div

          class="d-flex justify-center flex-column"
        >
          <img
            src="@img/zorro/empty-list-horizontal.jpg"
            class="mx-auto"
            width="100%"
          >
          <h3 class="mx-auto mt-3 black1--text text--lighten-3">
            {{ 'lista vazia!' }}
          </h3>
          <v-btn
            color="info"
            class="mx-auto mt-3"
            @click="createNew"
          >
            <v-icon>
              add_circle_outlined
            </v-icon>
            Criar novo registro
          </v-btn>
        </div>
      </slot>
      <!-- <slot
        v-else
        name="no-results"
      >
        <div>
          <v-progress-circular
            class="d-flex"
            :size="100"
            color="primary"
            indeterminate
          />
          <h3 class="mx-auto mt-3 black1--text text--lighten-3">
            {{ 'loading...' }}
          </h3>
        </div>
      </slot> -->
    </div>
  </v-container>
</template>

<script>
import 'vue-virtual-scroller/dist/vue-virtual-scroller.css'
//deixa os imports de css apenas no scss
// import '@scss/components/zorro/z-scroll-table.scss'
import { DynamicScroller, DynamicScrollerItem } from 'vue-virtual-scroller'
import BaseComponent from '~/mixins/BaseComponent'
import ZField from '~/classes/ZField'

export default {
  name: 'ZScrollTable',
  components: { DynamicScroller, DynamicScrollerItem },
  mixins: [BaseComponent],
  props: {
    refresh: { type: Boolean, default: true },
    chunks: { type: Number, default: 2 },
    filters: { type: Object, default: () => { return {} } },
    headers: { type: Array, required: true, default: () => [] },
    rows: { type: Array, required: true, default: () => [] },
    keyField: { type: String, default: 'id' },
    minRowSize: { type: Number, default: 100 },
    minBlockSize: { type: Number, default: 100 },
    showFilters: { type: Boolean, default: true },
    showActions: { type: Boolean, default: true },
    showKeywordFilter: { type: Boolean, default: true },
    bufferSize: { type: Number, default: 10 },
    displayMode: {
      type: String,
      default: 'list',
      validator: function (value) {
        return ['list', 'grid'].includes(value)
      }
    },
    autoColumnsSizes: { type: Boolean, default: false },
    paddingAdjust: { type: Number, default: 16 },
    showSelect: { type: Boolean, default: false },
    singleSelect: { type: Boolean, default: false }
  },
  data () {
    return {
      refreshTooltip: false,
      isGridMode: false,
      filteredRows: [],
      splittedRows: [],
      subRows: {},
      mergedFilters: {},
      hasFilters: false,
      mergedHeaders: []
    }
  },
  computed: {

    tableItems () {
      return this.isGridMode
        ? this.splittedRows
        : this.filteredRows
    },
    hasBlock () {
      return Object.prototype.hasOwnProperty
        .call(this.$scopedSlots, 'block')
    },
    hasRow () {
      return Object.prototype.hasOwnProperty
        .call(this.$scopedSlots, 'row')
    },
    hasDisplayMode () {
      return this.hasBlock && this.hasRow
    },
    buffer () {
      return (this.isGridMode
        ? this.minBlockSize
        : this.minRowSize) * this.bufferSize
    },
    headerSizes () {
      return this.$refs.scrollHeader && this.$refs.scrollHeader.getSizes
    },
    total () {
      return this.rows.length
    },
    filtered () {
      return this.filteredRows.length
    },
    _displayMode () {
      return this.getSession('displayMode') || this.displayMode
    }
  },
  watch: {
    subRows (n) {
    },
    rows: function (n, o) {
      if (o && o.length === 0) {
        this.$nextTick(() => {
          const hasSort = this.getSession('sort')
          if (hasSort && this.$refs?.scrollHeader) {
            this.$refs.scrollHeader.active = hasSort
            this.$refs.scrollHeader.onClick(hasSort, true)
            // this.onSort(hasSort)
          }
        })
      }
      this.filteredRows = n
      this.filter()
    },
    'mergedFilters.keyword.value': function (n, o) {
      if ((n == null || n === '') ||
      (o && n.length < o.length && n !== o)) {
        this.filter()
      }
    },
    filteredRows: function (n, o) {
      if (this.isGridMode) {
        if (n.length) {
          this.splittedRows = globalThis._
            .chunk(n, this.chunks)
            .map((el, index) => {
              return {
                chunkId: index,
                chunks: el
              }
            })
        } else { this.splittedRows = n }
      }
    },
    isGridMode: function (n, o) {
      if (n === undefined) n = o
      if (this.splittedRows.length === 0) {
        this.filter()
      }
      this.setSession('displayMode', n ? 'grid' : 'list')
    }
  },
  created () {
    if (this.showActions) {
      let actions = this.headers.find(el => el.value === 'actions')
      if (actions !== undefined) {
        actions = Object.assign({
          text: '',
          value: 'actions',
          width: '5%',
          orderable: false,
          visible: false
        }, actions)
        this.mergedHeaders = this.headers
      } else {
        this.mergedHeaders = this.headers
          .concat({
            text: '',
            value: 'actions',
            width: '5%',
            orderable: false,
            visible: false
          })
      }
    }
    if (this.showSelect) {
      let selection = this.headers.find(el => el.value === '__selection')
      if (selection !== undefined) {
        selection = Object.assign({
          text: '',
          value: 'actions',
          width: '5%',
          orderable: false,
          visible: false
        }, selection)
        this.mergedHeaders = this.headers
      } else {
        this.mergedHeaders = [{
          text: '',
          value: '__selection',
          width: '5%',
          orderable: false,
          visible: false
        }]
          .concat(this.headers)
      }
    }

    this.mergedFilters = globalThis._.merge({
      keyword: new ZField({
        prependIcon: 'search',
        dense: true,
        label: 'Filtrar por palavra chave',
        persistentHint: true,
        clearable: true,
        _class: 'col-12 col-sm-6 col-md-5 col-lg-4'
      })
    }, this.filters)

    this.setSession('displayMode', this._displayMode)
  },
  mounted () {
    this.isGridMode = this.hasDisplayMode && this._displayMode === 'grid'
      ? true
      : !this.hasRow
  },
  methods: {
    objEquals (a, b) {
      if (typeof a !== 'object' || typeof b !== 'object') return false
      return Object.is(a, b)
    },
    resetFilters () {
      this.$refs.filtersContainer.reset()
      this.$refs.filtersContainer.inputs[0].focus()
    },
    checkFilters () {
      if (this.$refs.filtersContainer !== undefined) {
        const has = this.$refs.filtersContainer.inputs
          .find(el => !globalThis._.isEmpty(el.lazyValue))
        return has !== undefined
      } else { return false }
    },
    toggleSubRow (item) {
      // const sr = this.subRows[`_sr${item[this.keyField]}`]
      // this.subRows[`_sr${item[this.keyField]}`] = sr === undefined
      // ? true
      // : !sr
      // this.$forceUpdate()
    // this.$refs[`_sr${item[this.keyField]}`].$parent.$forceUpdate()
    },
    getMethod (m = 'input') {
      switch (m) {
        case 'select':
        case 'list':
          return this.listFilter
        case 'multiple':
          return this.listMultipleFilter
        case 'input':
        default:
          return this.inputFilter
      }
    },
    onEdit (v) {
      this.$emit('table-on-edit', v)
    },
    createNew () {
      this.$emit('table-on-new')
    },
    // onDelete (v) {
    //   this.$emit('table-on-destroy', v)
    // },
    checkKey (e) {
      if (e.keyCode === 13) this.filter()
    },
    filter () {
      const r = [...this.rows]
      let start = 0

      for (const f in this.mergedFilters) {
        // pode-se melhorar essa passagem de parametros
        // avaliando o tipo de elemento com instanceof
        const method = typeof this.mergedFilters[f].method === 'function'
          ? this.mergedFilters[f].method
          : this.getMethod(this.mergedFilters[f].method)

        this.filteredRows = method(
          !start++ ? r : this.filteredRows,
          Object.assign({ fname: f }, this.mergedFilters[f])
        )
      }
      this.hasFilters = this.checkFilters()
    },
    inputFilter (rows, f) {
      const vl = f && f.get()
      if ([undefined, null, ''].includes(vl)) {
        return rows
      }
      const index = f.index || ['name']
      return rows.filter(el => {
        if (f.caseSensitive === true) {
          return index
            .some(i => globalThis._.get(el, i, '')
              .includes(vl))
        } else {
          return index
            .some(i => globalThis._.get(el, i, '')
              .toLowerCase()
              .includes(vl.toLowerCase()))
        }
      })
    },
    listFilter (rows, f) {
      const index = f.index || f.fname
      const vl = f.customGet()
      if ([null, undefined, ''].includes((f && vl) || null)) return rows

      if (f.multiple === true) {
        return rows.filter(el => {
          const mappedIndex = globalThis._
            .get(el, index, [])
            .map(el => el[f.customIndex])

          return vl.every(el => mappedIndex.includes(el))
        })
      } else {
        return rows.filter(el => {
          return globalThis._.get(el, index, '') === vl
        })
      }
    },
    onSort (h) {
      this.setSession('sort', h)
      switch (h.type) {
        case Number:
          this.filteredRows = this.filteredRows.sort((a, b) => {
            const _a = a[h.value]
            const _b = b[h.value]
            return h.sortAsc ? _a - _b : _b - _a
          })
          break
        case Date:
          this.filteredRows = this.filteredRows.sort((a, b) => {
            const _a = new Date(a[h.value])
            const _b = new Date(b[h.value])
            return h.sortAsc ? _a - _b : _b - _a
          })
          break
        default:
          this.filteredRows = this.filteredRows.sort((a, b) => {
            const _a = a[h.value]
            const _b = b[h.value]

            return h.sortAsc
              ? _a > _b
                ? 1
                : _a < _b
                  ? -1
                  : 0
              : _b > _a
                ? 1
                : _b < _a
                  ? -1
                  : 0
          })
      }
    },
    onResend: el => {
      alert('dispara a ação de reenvio de email de confirmação')
    },
    tableOnRefresh () {
      this.$emit('table-on-refresh', true)
    }
  }
}
</script>
