<template>
    <v-tooltip
      v-model="tooltip"
      v-bind.sync="_attrs"
      allow-overflow
    >
      <template v-slot:activator="{ on, attrs }">
        <span v-on="on" v-bind="attrs">
          <slot />
        </span>
      </template>
      <slot name="tip">
        <span>{{$attrs.tip}}</span>
      </slot>
  </v-tooltip>
</template>

<script>
export default {
  data () {
    return {
      tooltip: false
    }
  },
  computed:{
    hasPosition(){
      return ['top','right','left','bottom'].some(el=>el in this.$attrs)
    },
    hasTip(){
      return !(this.$attrs.tip == null) || 'tip' in this.$slots 
    },
    _attrs(){
      return {
        top:!this.hasPosition,
        disabled:!this.hasTip,
        ...this.$attrs
      }
    },
  },
}
</script>
