<template>
  <v-app-bar
    app
    class="px-sm"
    flat
    height="70"
  >
    <v-app-bar-nav-icon
      v-ripple="{class: 'primary--text'}"
      @click="toggleLeftSideBarStatus"
    />
    <v-progress-linear
      :active="isAppLoading"
      indeterminate
      absolute
      bottom
      color="primary"
    />

    <v-spacer />

    <!-- <v-badge
      bordered
      overlap
      content="3"
      color="red"
      offset-x="22"
      offset-y="22"
    >
      <v-btn
        icon
      >
        <v-icon>bell</v-icon>
      </v-btn>
    </v-badge> -->

    <!-- <v-btn
      icon
    >
      <v-icon>magnify</v-icon>
    </v-btn> -->

    <v-chip
      pill
      class="transparent py-5"
    >
      {{loggedInUser}}
      <v-avatar class="ml-2">
        <v-img src="@/assets/images/avatars/cat-avatar.png" />
      </v-avatar>
    </v-chip>
  </v-app-bar>
</template>

<script>
  import BaseDashboardBehavior from '@/mixins/BaseDashboardBehavior.js'
  import { mapState } from 'vuex'
  export default {
    name: 'AppBar',
    mixins: [BaseDashboardBehavior],
    data () {
      return {
      }
    },
    computed: {
      ...mapState({
        loggedInUser:store => store.user.name
      }),
    },
    methods: {
    },
  }
</script>
