<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <div class="fill-height d-flex flex-column">
        <div class="my-3">
          <v-img
            :height="70"
            contain
            src="@/assets/images/logo-gropoa-black.png"
          />
        </div>
        <div class="text-center mx-3">
          <h4 class="font-weight-medium mb-2 secondary--text">Módulo Acadêmico</h4>
          <v-divider class="mx-3"/>
        </div>
        <user-menu-profile />
        <modules-menu />
        <v-spacer />
        <!-- <div class="text-center mb-3">
          <v-btn
            class="text"
            color="error"
            small
          >
            <v-icon xs-small>
              logout
            </v-icon>logout
          </v-btn>
        </div> -->
      </div>
    </v-navigation-drawer>

    <app-bar />

    <v-main>
      <v-container
        fluid
        class="py-4 fill-height"
      >
        <v-fade-transition>
          <router-view
            class="container"
            style="height:100%"
          />
        </v-fade-transition>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import { mapGetters,mapState } from 'vuex'
  
  export default {
    components: {
      AppBar: () => import('./AppBar.vue'),
      UserMenuProfile: () => import('./UserMenuProfile.vue'),
      ModulesMenu: () => import('./ModulesMenu.vue')
    },
    data: () => ({
      drawer: null,
    }),
    computed: {
      ...mapState({
        loggedInUser:store => store.user.name
      }),
      ...mapGetters([
        'isAppLoading',
        'getLeftSideBarStatus',
      ]),
    },
    watch: {
      getLeftSideBarStatus (n) {
        this.drawer = n
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
