<template>
  <v-container>
    <v-list
      nav
      dense
    >
      <v-list-item-group
        v-model="selectedItem"
        color="secondary"
        mandatory
      >
        <v-list-item
          v-for="(item) in avaiableModules"
          :key="item.id"
          :to="item.to"
        >
          <v-list-item-icon class="ml-sm-2 mx-sm-3">
            <v-icon>{{ item.ico }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="font-weight-bold">
              {{item.name}}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-container>
</template>

<script>
export default {
  name:'ModulesMenu',
  data: () => ({
    selectedItem: 0
  }),
  computed: {
    //está apenas para exemplificar, a ideia é carregar o menu dinamicamente
    //de acordo com as permissões doo user logado
    avaiableModules(){
      return [
        {
          id:0,
          name:'Dashboard',
          ico:'dashboard',
          to:{name:'dashboard'},
        },
        {
          id:1,
          name:'Alunos',
          ico:'badge',
          to:{name:'students'},
        },
      ]
    }
  },
}
</script>
