<template>
    <div>
        <v-list two-line>
            <v-list-item>
                <v-list-item-icon class="mr-2 my-auto">
                    <v-avatar size="36">
                        <v-img src="@/assets/images/avatars/cat-avatar.png" />
                    </v-avatar>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{loggedInUser.name}}</v-list-item-title>
                    <v-list-item-subtitle class="text-caption">{{loggedInUser.email}}</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-icon class="ma-auto">
                    <z-tooltip right tip="logout">
                        <v-btn
                          color="secondary"
                          small
                          icon
                          @click="logoutUser"
                        >
                            <v-icon small>logout</v-icon>
                        </v-btn>
                    </z-tooltip>
                </v-list-item-icon>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
  import { mapActions,mapState } from 'vuex'
  
  export default {
    name:'UserMenuProfile',
    data: () => ({
    }),
    computed: {
      ...mapState({
        loggedInUser:store => store.user
      }),
    },
    methods: {
      logoutUser(){
        this.$router.push({name:'logout'})
      }
    }
  }
</script>